* {
    font-family: 'ITC Avant Garde Gothic Std';
}
body{
    max-width: 1600px;
    margin: 0 auto;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    font-style: normal;
    padding: 18px 24px;
}
header h2 {
    font-weight: 700;
    font-size: 28.75px;
    line-height: 30px;
    margin: 0;
}
.logo {
    display: flex;
    flex-direction: column;
    gap: 9px;
    align-items: flex-end;
}
header a {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.03em;
    color: #222222;
    text-decoration: none;
    padding-bottom: 7px;
    border-bottom: 1px solid;
}

/* banner */
.banner{
    background:linear-gradient(180deg, #05283E -23.09%, rgba(9, 67, 103, 0) 107.85%), url('./assets/pexels-kateryna-babaieva-2760242\ 1.png');
    background-position: center;
    background-size: cover;
    color: white;
    height: 800px;
}
.banner > h1{
    font-size: 100px;
    font-weight: 600;
    margin: 0;
    padding-left: 110px;
    padding-top: 110px;
}
.banner-content{
    margin-top: 120px;
}
.banner-content div:first-child h3{
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.banner-content div:first-child{
    display: flex;
    gap: 12px;
    margin-left: 215px;
    z-index: 10;
}
.banner-content .rectangle{
    position:absolute;
    padding: 150px;
    transform: translate(-32%, -30%);
    opacity: 0.5;
    background: #EC2232;
}
.banner-content div:first-child svg{
    height: 35px;
    z-index: 1;
}
.banner-content div:last-child{
    display: flex;
    gap: 37px;
}
.banner-content div:last-child h3{
    font-weight: 500;
    font-size: 35px;
    line-height: 35px;
}
.banner-content div:last-child h3:first-child{
    background: linear-gradient(90deg, #FFFFFF -6.46%, rgba(255, 255, 255, 0.2) 54.85%, rgba(255, 255, 255, 0) 104.78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-content div:last-child h3:nth-child(2){
    z-index: 1;
}
.banner-content div:last-child h3:last-child{
    background: linear-gradient(89.86deg, #FFFFFF -2.09%, rgba(255, 255, 255, 0.3) 37.07%, rgba(255, 255, 255, 0) 88.12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
