* {
    font-family: 'ITC Avant Garde Gothic Std';
}
body{
    max-width: 1600px;
    margin: 0 auto;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    font-style: normal;
    padding: 18px 24px;
}
header h2 {
    font-weight: 700;
    font-size: 28.75px;
    line-height: 30px;
    margin: 0;
}
.logo {
    display: flex;
    flex-direction: column;
    gap: 9px;
    align-items: flex-end;
}
header a {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.03em;
    color: #222222;
    text-decoration: none;
    padding-bottom: 7px;
    border-bottom: 1px solid;
}